{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO

    <!--show all listings-->
    <!--include: title, description, current price, photo-->
    <!--im using come bootstrap classes btw-->
    <div class="container">
        {% for listing in listings %}
        <a href="{% url 'listingPage' listingId=listing.pk %}"> <!--pass on the listing id, so that it can be displayed-->
            <div class="row bg-secondary"> <!-- Add background color class here -->
                <div class="col text-center">
                    {{ listing.title }}
                </div>
            </div>
            <div class="row bg-secondary"> <!-- Add background color class here -->
                <div class="col text-center">
                    Price: ${{ listing.topBid }}
                </div>
            </div>
            <div class="row bg-secondary"> <!-- Add background color class here -->
                <div class="col">
                    <img src="{{ listing.imgUrl }}" alt="img url missing" class="img-fluid">
                </div>
            </div>
            <div class="row bg-secondary"> <!-- Add background color class here -->
                <div class="col text-center">
                    {{ listing.description }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
    
{% endblock %}