{% extends "auctions/layout.html" %}

{% block body %}
    <form method="post" action="{% url 'listingPage' listingId=listing.pk %}">
        {% csrf_token %}
        <input type="hidden" name="watchBtnMsg" value="{{watchBtnMsg}}">
        <button type="submit" class="btn btn-primary">{{ watchBtnMsg }}</button> <!--watchlist button-->
    </form>
    <h1>{{ listing.title }}</h1>
    <h6>posted by: {{posterUsername}}</h6>
    <h4>current price: ${{listing.topBid}}</h4>
    <h6>category: {{category}}</h6>
    <img src="{{listing.imgUrl}}" alt = "image not found">
    <h5>{{ listing.description }}</h5>
{% endblock %}